label.error {
    font-weight: bold;
    color: #ca3220;
    margin-top: 2px;
    margin-bottom: 4px;
    display: inline;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);

}

.border-3px{
    border: 3px solid #efefef
}

@media only screen and (max-width: 750px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
        border: none;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        width: 100%;
    }

    #no-more-tables tr {
        border: 1px solid #ccc;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        min-height: 45px;
    }

    #no-more-tables td:before {
        position: absolute;
        top: 6px;
        left: 16px;
        right: 6px;
        min-width: 100%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}

ul.pagination li {
    display: inline;
    font-size: 12px;
    font-weight: bold;
}

ul.pagination li a {

    color: black;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px;
}

ul.pagination li a.active {
    background-color: #f59c28;
    padding: 10px 15px;
    margin: 4px;
    color: white;
    border: 1px solid #f59c28;
}

ul.pagination li.active {
    /*background-color: #4CAF50;*/
    background-color: #f59c28;
    padding: 10px 15px;
    margin: 4px;
    color: white;
    border: 1px solid #f59c28;
}

/*ul.pagination li a:hover:not(.active) {background-color: #ddd;}*/
ul.pagination li a:hover {background-color: #999999;}

ul.pagination li.disabled {
    /*background-color: #cccccc;*/
    color: #ddd;
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin: 4px;
}