.atvImg {
    border-radius: 5px;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(#000,0);
}

.atvImg img {
    border-radius: 5px;
}

.atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
}

.atvImg-layers {
    position: relative;
    width: 100%;
    height: 108%;
    border-radius: 5px;
    overflow: hidden;
    transform-style: preserve-3d;
}

.atvImg-rendered-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.1s ease-out;
}

.atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
}

.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}


img {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 100%}

.inner-wrap {
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 980px;
}

body>header h1 {
    display: none;
}
header h2 {
    margin: 0 auto 30px auto;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.3em;
}
header h2 span {
    white-space: nowrap;
}
header .left {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 100%;
}
header .left .image {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
header .right {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 70px;
    max-width: 320px;
    text-align: left;
}
#images {
    position: relative;
    width: 100%;
    height: 675px;
}
#images .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
